<body>


<table class="table ">
<tr>
  <td>ID</td>
  <td>Enseigne</td>
  <td>Adresse</td>
  <td>Categorie</td>
</tr>

  <tr *ngFor="let b of boutiques">
    <td>{{b.id}}</td>
    <td> {{b.nom}} </td>
    <td>{{b.adresse}} </td>
    <td>{{b.categorie}}</td>
    <span *ngIf="isAuthenticated() && role=='admin'">
    <td>
      <a
        [routerLink]="['/boutique','edit', b.id]"
        routerLinkActive="active"
        class="btn btn-outline-primary"
        >editer</a>
    </td>

    <td>
      <button class="btn btn-outline-danger" (click)="delete(b.id!)">
        supprimer
      </button>

    </td>
  </span>
    <td>
      <a [routerLink]="['/boutique', 'produits',(b.id)]" routerLinkActive="active"class="btn btn-outline-primary"
      >Liste des produits</a
    >
    </td>
  </tr>
</table>
<span *ngIf="isAuthenticated() && role=='admin'">
<a routerLink="/boutique/edit" routerLinkActive="active" class="btn btn-link"
  >ajouter une boutique</a
>
</span>


<footer>

  <p>Mis à jour le 14/04/2022</p>

</footer>
