<body>


<table class="table table-dark">
  <tr>
    <td>Cours</td>
    <td>Note</td>
    <td>Commentaire</td>
  </tr>

  <tr *ngFor="let b of bulletins">
    <td>{{ b.cours }}</td>
    <td>{{ b.note }}</td>
    <td>{{ b.commentaire }}</td>
<span *ngIf="role=='prof'">
  <td>
    <a
      [routerLink]="['/bulletin', 'edit', b.id]"
      routerLinkActive="active"
      class="btn btn-outline-primary"
      >editer</a>
  </td>
</span>
</tr>

</table>
</body>
<footer>

  <p>Mis à jour le 14/04/2022</p>

</footer>
