<table class="table">
  <tr>
    <td>ID</td>
    <td>Libellé</td>
    <td>Prix ($)</td>

  </tr>

  <tr *ngFor="let b of produit">
    <td>{{b.id}}</td>
    <td>{{b.libelle}} </td>
    <td>{{b.prix}}</td>

    <td>
      <a [routerLink]="['/boutique','produit', 'detail', b.id]" routerLinkActive="active"
        class="btn btn-outline-primary">Voir</a>
    </td>
    <span *ngIf="isAuthenticated() && role=='admin'">
      <td>
        <a [routerLink]="['/boutique','produit', 'edit', b.id]" routerLinkActive="active"
          class="btn btn-outline-primary">editer</a>
      </td>
      <td>

      <td>
        <button class="btn btn-outline-danger" (click)="delete(b.id!)">
          supprimer
        </button>
      </td>
    </span>
  </tr>

</table>
<span *ngIf="isAuthenticated() && role=='admin'">
<a routerLink="/boutique/produit/add" routerLinkActive="active" class="btn btn-link">ajouter un produit</a>
</span>
