<!-- Si le compte est prof ou eleve -->
<div> <a routerLink="/panier/compte" routerLinkActive="active" class="btn btn-outline-primary"
  >Panier</a
  > </div>

<table class="table">
  <tr>
    <td>ID</td>
    <td>Libellé</td>
    <td>Description</td>
    <td>Prix ($)</td>

  </tr>

    <tr *ngFor="let b of produit">
      <td>{{b.id}}</td>
      <td>{{b.libelle}} </td>
      <td>{{b.description}} </td>
      <td>{{b.prix}}</td>

      <td>
        <button class="btn btn-outline-primary" (click)="addPanier()">+</button>
      </td>
      <td>
        <a [routerLink]="['/produit', 'edit', b.id]"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="delete(b.id!)">
          supprimer
        </button>
      </td>
    </tr>
  </table>

  <a routerLink="/boutique/add" routerLinkActive="active" class="btn btn-link"
    >ajouter une boutique</a
  >

