<!-- <div>
<!-- [formGroup] permet d'associer le formulaire au form crée dans ts-->
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-group">
      <label>Prenom</label>
      <input formControlName="prenomCtrl"/>
  </div>
<div class="form-group">
  <label>Nom</label>
  <input formControlName="nomCtrl"/>
</div>
<form (ngSubmit)="submit()" formGroupName="loginPasswordCtrl">
  <div class="form-group">
    <label>login</label>
    <input formControlName="loginCtrl"/>
  </div>
  <div class="form-group">
    <label>password</label>
    <input formControlName="passwordCtrl"/>
  </div>
</form>
  <button type="submit"[disabled]="form.invalid" >Valider</button>
  </form>

  </div> -->
