<!-- <div>

//<form (ngSubmit)="submit(form)" #form="ngForm">
  <input name="input" [(ngModel)]="input" #inputCtrl="ngModel", required>
  <span
  *ngIf="inputCtrl.dirty && inputCtrl.invalid" class="alert alert-danger"
  >
  champ obligatoire
</span>
<button type="submit"[disabled]="form.invalid" >Valider</button>
</form>

</div>

  <!-- chaque formulaire peut etre géré comme un objet angular: le formControl c'est une zone d'eun formulaire
  un form controle peut avoir plusieurs etat:

  - untouched tant qu'on y a pas touché
  - touch: on a cliqué dessus,
  - pristine/dirty: si pristine est true, dirty est false, et inversement. c'ets que on a touché ou non au contenu.
dès qu'on touche au contenu d l'input,le ctrl passe en dirty
  - valid/invalid: respect du critère de validation ou non


  - formcontrol: tous les controles qu'un form possède
  - formgroup: de base, un formulaire constitue un groupe
-->


<!-- si c'est dirigé par le template, il faut directement tout renseigner dans la page ici, en html -->

<!-- on est obligé de mettre un name au inpupt, c'est necessaire pour utiliser # -->

<!-- le # ds une balise permet de dire que on veut creer un objet associé à cette balise. nous on veut un objet qui recup le conrole
  de l'input donc il faut ecrire ngModel
c'est ce qui permet de créer le controle au input-->

<!-- required permet de dire que ce champ est obligatoire et
  disabled form invalud permet de desactiver le boutton tant que from est invalide, c'est a dire que le champ
n'est pas rempli dans notre cas. --> -->
