<body>


<div>
  <div> <a routerLink="/compte/professeurs" routerLinkActive="active" class="btn btn-outline-primary">
    Professeurs</a>
  <a routerLink="/compte/eleves" routerLinkActive="active" class="btn btn-outline-primary">
    Eleves</a>
  </div>
  </div>

<table class="table table-dark">
  <tr>
    <td>ID</td>
    <td>Login</td>
    <td>Nom Prenom</td>
    <td>Date de naissance</td>
    <td>Maison</td>
  </tr>
  <tr *ngFor="let e of profs" >
    <td>{{ e.id }}</td>
    <td>{{ e.login }}</td>
    <td>{{ e.nom }} {{ e.prenom }}</td>
    <td>{{ e.naissance  | date: "dd/MM/yyyy"}}</td>
    <td>{{(getMaison(e)!.nom)}}</td>

     </tr>
</table>
<a routerLink="/compte/professeurs/add" routerLinkActive="active" class="btn btn-link"
  >Creer</a
>
</body>
<footer>

  <p>Mis à jour le 14/04/2022</p>

</footer>
