.banniere_grf {
  background-image: url("/assets/Images/banniere/gryffondor.png");
  background-size: cover;
  height: 150px;
}
.banniere_ps {

  background-image: url("/assets/Images/banniere/Poufsouffle.jpg");
  background-size: cover;
  height: 150px;
}

.banniere_ser {
  background-image: url("/assets/Images/banniere/Serdaigle.jpg");
  background-size: cover;
  height: 150px;
}

.banniere_spt{
  background-image: url("/assets/Images/banniere/Serpentard.jpg");
  background-size: cover;
  height: 150px;
}

#logo{
  width:9%;
}
h1
{
  color:rgb(192, 192, 192);
}
