<body>


<table class="table table-dark">
  <tr>
    <td>ID</td>
    <td>Cours</td>
    <td>Professeur</td>
    </tr>
  <tr *ngFor="let c of cours">
    <td>{{ c.id }}</td>
    <td>{{ c.intitule }}</td>
    <td>{{c.professeur?.nom}}  {{c.professeur?.prenom}}</td>
    <span *ngIf="isAuthenticated() && role=='prof' ">
      <td>
        <a [routerLink]="['/eleve', 'cours',(c.id)]" routerLinkActive="active" class="btn btn-outline-primary">Liste
          des eleves</a>
      </td>
    </span>
    <span *ngIf="isAuthenticated() && role=='admin' ">
    <td>
      <a [routerLink]="['/cours', 'edit', c.id]" routerLinkActive="active" class="btn btn-outline-primary">editer</a>
    </td>
    <td>
      <button class="btn btn-outline-danger" (click)="delete(c.id!)">
        supprimer
      </button>
    </td>
    </span>
  </tr>
</table>
</body>



<footer>

  <p>Mis à jour le 14/04/2022</p>

</footer>

