
<table class="table">
  <tr *ngFor="let c of cours">
    <td>{{ c.id }}</td>
    <td>{{ c.intitule }}</td>
    <td>{{c.professeur}}</td>
    <span *ngIf="isAuthenticated() && role=='prof' ">
      <td>
        <a [routerLink]="['/cours', 'eleves',(c.id)]" routerLinkActive="active" class="btn btn-outline-primary">Liste
          des eleves</a>

      </td>
    </span>
    <span *ngIf="isAuthenticated() && role=='admin' ">
    <td>
      <a [routerLink]="['/cours', 'edit', c.id]" routerLinkActive="active" class="btn btn-outline-primary">editer</a>
    </td>
    <td>
      <button class="btn btn-outline-danger" (click)="delete(c.id!)">
        supprimer
      </button>
    </td>
    </span>
  </tr>
</table>
<button routerLink="/cours/add" routerLinkActive="active" class="btn btn-outline-success">Ajouter un cours</button>
